<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form>
      <label for="team_name">Team Name: </label>
      <input type='text' name='team_name' id='team_name'>
      <label for='coach'>Coach: </label>
      <input type='text' name='coach' id='coach'>
      
    </form>
 </body>
</html>


