<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action='/team'>
      <label for="name">Team Name: </label>
      <input type='text' name='name' id='name'>
      <br><br>
      <label for='coach'>Coach: </label>
      <input type='text' name='coach' id='coach'>
      <br><br>
      <label for='pg'>Point Guard: </label>
      <input type='text' name='pg' id='pg'>
      <br><br>
      <label for='shooting_guard'>Shooting Guard: </label>
      <input type='text' name='sg' id='sg'>
      <br><br>
      <label for='small_forward'>Small Forward: </label>
      <input type='text' name='small_forward' id='small_forward'>
      <br><br>
      <label for='pf'>Power Forward: </label>
      <input type='text' name='pf' id='pf'>
      <br><br>
      <label for='center'>Center: </label>
      <input type='text' name='center' id='center'>
      <br><br>
      <input type='submit' id='Submit' value='Submit'>
    </form>
 </body>
</html>


